.App {
  text-align: center;
 // margin:  10rem;
}

h1 {
display: block;
}

input[type=range] {
  width: 60%;
}

input {
  padding: .25rem .5rem;
}

button {
  display: block;
  margin:  0 auto;
  padding: .6rem 1.2rem;
  border-style: none;
  //background-color: #8B008B;
}

