.App {
  margin-top:  5rem ;
  text-align: center;
  color: #fff;
}

input[type=range] {
  width: 60%;
}

Input[type=number] {
  font-weight: bold;
  outline: none;
}

input {
  padding: .25rem .5rem;
  display: block;
  margin:  0 auto;
}


